# Vercel Analytics
NEXT_PUBLIC_ENABLE_ANALYTICS=true

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=GTM-P5XLZB6F

# Google Analytics
NEXT_PUBLIC_GA_ID=G-CCT5JDRZ8B

# Site URL
NEXT_PUBLIC_SITE_URL=https://www.aideamed.com

# TinaCMS Configuration
# 從 https://app.tina.io/ 獲取這些值
NEXT_PUBLIC_TINA_CLIENT_ID=9f110d28-0357-488a-8453-29ebfa093585
TINA_TOKEN=a00a320ca8ed60a6ade0617f61a2a5d86a4ba100
TINA_SEARCH_TOKEN=435ea0f8c6509b4148ded53ac85b101ba2172975

# GitHub Integration (for TinaCMS Git editing)
GITHUB_OWNER=AioliaKnight
GITHUB_REPO=Aidea_Med_Web
GITHUB_BRANCH=main

# Contact Form
RESEND_API_KEY=your_resend_api_key

# Email Configuration
EMAIL_FROM=noreply@aideamed.com
EMAIL_TO=contact@aideamed.com 